# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      - image: postgres:9.5
        environment:
        - POSTGRES_USER=postgres
        - POSTGRES_DB=test
        - PG_USER=postgres
        - PG_NAME=test

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r dev-requirements.txt
            pip install -r requirements.txt
            pip install -e .

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            flask test
            coverage xml
            python-codacy-coverage -r coverage.xml
          environment:
            - FLASK_APP: "manage"
            - PG_USER: "postgres"
            - PG_NAME: "test"

      - store_artifacts:
          path: test-reports
          destination: test-reports
